@media (min-width: 800px) {
    .grid1_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .overskrifter_ommig{
        text-align: center;
        margin-top: 45%;
        line-height: 40%;
    }

    .grid2_2-1-1{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .gridprojekter_1-1-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .flex_col{
        padding: 4%;
    }

}
 @media (max-width: 800px){ 
    h1{ text-align: center;
        font-size: 40px; 
        white-space: normal;
    }   

    h2{ text-align: center;  
     } 
    }



