@font-face {
    font-family: "Assistant";
    src: url("../font/Assistant-VariableFont_wght.woff") format("woff");
  }

  @font-face {
    font-family: "Prata";
    src: url("../font/Prata-Regular.woff") format("woff");
  }

  img{
    max-width: 100%;
  }
body{
  background-color: #E8EDED;
  margin: 5%;
 } 

 main{
  padding-top: 40px;
 }

header{
  position: fixed;
  font-family: "Assistant";
  color: #F29985;
  font-size: 20px;
  background-color: #E8EDED;
  width: 100%;
  top: 0%;
 }

 .menu:hover{
  font-weight: 500;
 }

 footer{
  border-top:2px solid #59192A;
  margin: 0%;
  font-family: "Assistant";
  font-size: 16px;
 }

li{
  list-style-type: none;
  align-items: center;
  display: inline-block; 
  padding: 10px;
}

a{
  text-decoration: none;
  color: #F29985;
}

a:hover{
  font-weight: bolder;
}

a:visited{
  color: #F29985;
}

h1{
  font-family: "Prata"; 
  font-size: 60px;
  color: #59192A;
  text-align: center;
}

h2{
  font-size: 30px;
  font-family: "Assistant";
}

h3{
  font-size: 16px;
  font-family: "Assistant";
}

p{
  font-family: "Assistant";
  font-size: 16px;
}

/* css på links  */

.link{
  font-family: "Assistant";
  text-decoration: none;
  color: black;
}

.link:hover {
  border-bottom: 1px solid #F29985;
}

.box{
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Prata";
}

/* hover effekt på billederne på projekter site  */

.image-link img {
  display: block;
  max-width: 100%; /* Ensures the image scales within its container */
  height: auto; /* Maintains the aspect ratio */
}

.image-link:hover img{
  filter: grayscale(100%);
}

.flex_col:hover{
  font-style: italic;
  font-weight: bolder;
}
