@font-face {
    font-family: "Assistant";
    src: url("../font/Assistant-VariableFont_wght.woff") format("woff");
  }

  @font-face {
    font-family: "Prata";
    src: url("../font/Prata-Regular.woff") format("woff");
  }

  img{
    max-width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
body{
  margin: 5%;
  background-color: #D3DEDC;
 } 

 main{
  padding-top: 40px;
  background-color: #D3DEDC;
 }

header{
  position: fixed;
  font-family: "Assistant";
  color: #FEA581;
  font-size: 20px;
  background-color: #D3DEDC;
  width: 100%;
  top: 0%;
 }

 .menu:hover{
  font-weight: 500;
 }

 footer{
  border-top:2px solid #59192A;
  font-family: "Assistant";
  font-size: 20px;
 }

 .footer-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 5%;
 }

li{
  list-style-type: none;
  align-items: center;
  display: inline-block; 
  padding: 10px;
}

.grid1_1-1{
  border-top: 1px solid #F29985;
}

a{
  text-decoration: none;
  color: #F29985;
}

a:hover{
  font-weight: bolder;
}

a:visited{
  color: #F29985;
}

h1{
  font-family: "Prata"; 
  font-size: 60px;
  color: #59192A;
  text-align: center;
}

h2{
  font-size: 30px;
  font-family: "Assistant";
}

p{
  font-family: "Assistant";
  font-size: 16px;
  width: 65ch;
  line-height: 2;
}

.info-tekst{
  font-size: 20px;
  font-family: "Assistant";
  line-height: 1.5;
  margin-left: 17%;
  margin-right: 17%;
}

.overskrift-index h2{
max-width: 65ch;
text-align: center;
margin-left: 5%;
}

.ommig_liste{
    border-style: solid;
    border-color: rgb(240, 238, 234);
    background-color: rgb(240, 238, 234);
    border-radius: 20px;
    width: 300px;
    height: 200px;
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
}

/* css på links  */

.link{
  font-family: "Assistant";
  text-decoration: none;
  color: #F29985;
}

.link:hover {
  border-bottom: 1px solid #F29985;
}

/* hover effekt på billederne på projekter site  */

.image-link img {
  display: block;
  max-width: 100%; /* Ensures the image scales within its container */
  height: auto; /* Maintains the aspect ratio */
}

.image-link:hover img{
  filter: grayscale(100%);
}

.flex_col:hover{
  font-style: italic;
  font-weight: bolder;
}
