@font-face {
    font-family: "Assistant";
    src: url("../font/Assistant-VariableFont_wght.woff") format("woff");
  }

  @font-face {
    font-family: "Prata";
    src: url("../font/Prata-Regular.woff") format("woff");
  }

  img{
    max-width: 100%;
  }
body{
  background-color: #E8EDED;
  margin: 5%;
 } 

header{
  font-family: "Assistant";
  color: #59192A;
  font-size: 20px;
 }

 footer{
  border-top:2px solid #59192A;
  margin: 0%;
 }

li{
  list-style-type: none;
  align-items: center;
  display: inline-block; 
  padding: 10px;
}

h1{
  font-family: "Prata"; 
  font-size: 60px;
  color: #59192A;
}

h2{
  font-size: 30px;
  font-family: "Prata";
}

h3{
  font-size: 16px;
  font-family: "Assistant";
}

p{
  font-family: "Assistant";
  font-size: 16px;
}

.box{
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Prata";
}

/* hover effekt på billederne på projekter site  */

.image-link img {
  display: block;
  max-width: 100%; /* Ensures the image scales within its container */
  height: auto; /* Maintains the aspect ratio */
}

.image-link:hover img{
  filter: grayscale(100%);
}

.flex_col:hover{
  font-style: italic;
  font-weight: bolder;
}
